# Composer dependencies
/vendor/

# Project files
.php-cs-fixer.cache
/.env
/.env.local
/.phpunit.cache
/coverage-output.txt
/coverage-report

# IDE files
/.idea/
/.vscode/

# OS files
.DS_Store
Thumbs.db
.phpunit.cache/test-results